.navbar {
  height: 10vh;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #272727;
  align-items: center;
}
.list-container {
  list-style-type: none;
  display: flex;
}
.logout-btn {
  background-color: #4f46e5;
  color: #f8fafc;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
li {
  margin: 10px;
}
